<div class="form-group">
  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="cruse" value="{{event.title}}" />
</div>
<div class="form-group">
  <label for="desc">Location</label>
  <textarea name="desc" class="form-control" placeholder="Where is the car meet located.">{{event.desc}}</textarea>
</div>
<div class="form-group">
  <label for="imgUrl">Image Url</label>
  <input name="imgUrl" class="form-control" placeholder="" value="{{event.imgUrl}}"/>
</div>
